@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 62.5%;
}
.nav-law {
  display: flex;
  background-color: #758283;
  padding: 2rem;
}

.nav-first img {
  /* border: 2px solid red; */
  width: 50%;
  position: relative;
  left: 5rem;
  top: 1rem;
}

.nav-mid {
  /* border: 2px solid red; */
  display: flex;
  float: right;
  position: absolute;
  right: 20rem;
  top: 3rem;
}

.nav-mid button {
  position: absolute;
  width: 20%;
  margin-left: 5rem;
  margin-top: -1rem;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.nav-mid h4 {
  color: #ffffff;
  margin-left: 5rem;
  font-size: 1.5rem;
}

.info {
  /* border: 3px solid red; */
  height: 80vh;
  background-color: #758283;
}

.info img {
  width: 30vw;
  height: 40rem;
  margin: 5rem 5rem;
}

.right-text {
  /* border: 3px solid red; */
  display: inline-block;
  position: relative;
  top: -95%;
  left: 45%;
}

.right-text h1 {
  color: #ffffff;
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.right-text p {
  /* border: 3px solid red; */
  width: 50%;
  height: 20vh;
  color: #ffffff;
  position: relative;
  left: -15rem;
  text-align: justify;
}

.right-text input[type="text"] {
  padding: 2rem;
  width: 50rem;
  margin-top: -1.5%;
}

.right-text button {
  /* border: 2px solid red; */
  padding: 1rem;
  width: 15%;
  position: relative;
  right: 18rem;
  /* bottom: 1rem; */
  background-color: #38cc77;
  border: none;
}

.second-div {
  border: 2px solid red;
  height: 500vh;
}

.second-div .center-text {
  /* border: 2px solid blue; */
  margin: 5% auto;
}

.second-div .center-text h1 {
  text-align: center;
  font-size: 3rem;
}

.second-div .achievements {
  /* border: 2px solid blue;  */
  display: flex;
  justify-content: center;
}

.second-div .achievements h1,
p {
  /* border: 2px solid blue;  */
  margin-left: 15rem;
  margin-right: 15rem;
}

.second-div .achievements h1 {
  font-size: 3rem;
}
.second-div .achievements p {
  font-size: 1rem;
}

.second-div .big-image {
  /* border: 2px solid blue; */
  margin-top: 5%;
}
.second-div .big-image img {
  width: 40rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.box1 {
  /* border: 2px solid blue; */
  width: 100%;
  float: left;
  margin-right: -4rem;
}

.box1 h1 {
  text-align: justify;
  margin-left: 15rem;
}

.box1 p {
  /* border: 2px solid blue; */
  width: 50%;
}
.box1 img {
  width: 30%;
  height: 30rem;
  float: right;
  position: relative;
  top: -195px;
  right: 153px;
}

.box1 .my-left-text {
  /* border: 2px solid blue; */
  text-align: justify;
  width: 50%;
  margin-left: 10%;
  margin-top: 10%;
}

.my-left-text button {
  margin-left: 148px;
  margin-top: 14px;
  padding: 10px;
  background-color: #38cc77;
  border: none;
  color: #ffffff;
}


.box2 .left-img img{
    width: 30%;
    height: 30rem;
    float: left;
    position: relative;
    left: 291px;
    top: -132px;
}

.box2 .my-right-text{
    float: right;
}

.box2 .my-right-text{
    /* border: 2px solid black; */
    width: 40%;
    position: relative;
    top: -100px;
    right: 20px;
}

.box2 .my-right-text h1{
    /* border: 2px solid black; */
    width: 100%;
}

.box2 .my-right-text p{
    /* border: 2px solid black; */
    text-align: left;
    position: relative;
    left: -150px;
}
.box2 .my-right-text button{
  margin-top: 14px;
  padding: 10px;
  background-color: #38cc77;
  border: none;
  color: #ffffff;
}

.my-teams{
  /* border: 2px solid black;  */
  position: relative;
  top: 190px;
  display: flex;
  justify-content: space-evenly;
  left: 10%;
  right: 10%;
}

.mt-rt{
  /* border: 2px solid black;  */
  width: 20%;
  float: right;
  position: relative;
  top: -6px;
  right: -70px;
  text-align: justify;
}

.mt-lt h1{
  /* border: 2px solid black; */
  position: relative;
  left: -140px;
}


.see-more-btn{
  /* border: 2px solid black; */
  position: relative;
  top: 192px;
  height: 200px;
  width: 100%;
}

.see-more-btn button{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15%;
  padding: 10px;
  background-color: #38cc77;
  border: none;
}
